:root {
    --primaryColor: #0033CC;
    --secondaryColor: #91abfb;
    --fontColor1: #fffff0;
}
html {
    font-size: 62.5%;
}

.chat-bar-collapsible {
    position: fixed;
    bottom: 0;
    right: 5px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.collapsible {
    width: 100px;
    padding: 1.5rem;
    text-align: left;
    font-size: 1.8rem;
    background-color: var(--primaryColor);
    color: var(--fontColor1);
    border: 3px solid var(--fontColor1);
    border-radius: 10px 10px 0px 0px;
    border-bottom: none;
    outline: none;
    cursor: pointer;
}

.content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: var(--fontColor1);
}

.full-chat-block {
    width: 300px;
    height: max-content;
    background: var(--fontColor1);
    text-align: center;
    scrollbar-width: none;
    overflow: auto;
    transition: max-height 0.2s ease-out;
}

.outer-container {
    min-height: 400px;
    bottom: 0%;
    position: relative;
}

.chat-container {
    width: 100%;
    max-height: 400px;
    position: absolute;
    bottom: 0;
    left: 0;
    scroll-behavior: smooth;
    hyphens: auto;
}

.chat-container::-webkit-scrollbar {
    display: none;
}

.chat-bar-input-block {
    width: 100%;
    padding: 10px 0px 10px 10px;
    display: flex;
    background-color: var(--secondaryColor);
    border-radius: 10px 10px 0px 0px;
    box-sizing: border-box;
    justify-content: space-between;
    align-items: center;
    float: left;
}

.chat-bar-icons {
    width: 25%;
    display: flex;
    font-size: 2rem;
    box-sizing: border-box;
    justify-content: space-evenly;
    float: right;
}

#chat-icon:hover {
    opacity: .7;
}

/* Chat bubbles */
#userInput {
    width: 75%;
}

.input-box {
    width: 100%;
    padding: 1rem;
    background-color: var(--fontColor1);
    color: #000;
    font-size: 16px;
    border: none;
    border-radius: 10px;
    outline: none;
    box-sizing: border-box;
    float: left;
}

.userText {
    color: var(--fontColor1);
    font-family: Helvetica;
    font-size: 16px;
    font-weight: normal;
    text-align: right;
    clear: both;
}

.userText span {
    display: inline-block;
    max-width: 80%;
    margin-right: .7rem;
    margin-bottom: 1rem;
    padding: 1rem;
    line-height: 1.5em;
    background: var(--primaryColor);
    border-radius: 8px;
    border-bottom-right-radius: 2px;
    animation: floatup .5s forwards;
}

.botText {
    color: #000;
    font-family: Helvetica;
    font-weight: normal;
    font-size: 1.6rem;
    text-align: left;
}

.botText span {
    display: inline-block;
    max-width: 80%;
    margin-left: .7rem;
    margin-bottom: 1rem;
    padding: 1rem;
    line-height: 2rem;
    background: var(--secondaryColor);
    border-radius: 8px;
    border-bottom-left-radius: 2px;
    animation: floatup .5s forwards;
}

@keyframes floatup{
    from {
        transform: translateY(14px);
        opacity: .0;
    }
    to {
        transform: translateY(0px);
        opacity: 1;
    }
}

@media screen and (max-width: 600px) {
    .full-chat-block {
        width: 100%;
        border-radius: 0px;
    }
    .chat-bar-collapsible {
        position: fixed;
        bottom: 0;
        right: 0;
        width: 100%;
    }
    .collapsible {
        width: 100%;
        border: 0px;
        border-top: 3px solid var(--fontColor1);
        border-radius: 0px;
    }
}
